body {
    background-color: rgba(218, 204, 81, 0.258);
}
.text-center {
    text-align: center;
}
.pricing-table {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.time {
    font-size: 26px;
    color: rgb(229, 255, 0);
}
.container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-primary {
    display: flex;
    margin-top: 20px;
}